.card{
    width: 150px;
    height: 240px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
     box-shadow:2px 4px 10px rgb(3, 3, 3);
     transition-duration: 1s;
     /* transition-delay: 1s; */
}

.dsec {
 padding:0 2px 0 2px;
}
img{
    height:150px;
    width: 100%;
    border-radius:5px
    
}

img:hover{
    border-radius:50%;
}

/* hover effect */
.card:hover{
   box-shadow: 0 10px 10px rgb(234, 11, 48);
 
}

.card:hover{
   border-radius: 50%;
}

h3:hover{
   text-align: center;
}
p:hover{
    text-align:center;
}
p:active{
    color: crimson;
}

/* div{
    font-size: 2em;
    Snowball effects where where each div greater than its previous one
} */  

/* according to section all div have equals size  */
section{
    font-size: 8em;
}