/* box model in css that help to 
maintain the height of box */

div{
    height: 200px;
    width: 500px;
}

/* border style like decorative
we use Border  */

div{
    border-width: 6px;
    border-style: solid;
    border-color: rgb(202, 18, 18);
}

h1{
    color: rgb(231, 14, 176);
    border-width: 7px;
    border-color: rgb(3, 232, 26);
    border-style:double;
    text-align: center;
}

/* Border_Shorthand */
div{
    border: 8px solid rgb(171, 80, 10)
}

/* Border slides */
div{
    border-top-color: aquamarine;
    border-left-color: blueviolet;
    border-bottom-style: dashed;
    padding: 30px;
  
}

/* Border Radius  */

div{
    border-bottom-right-radius: 50px;
    border-top-left-radius: 20px;
}

h1{
    
    /* border-top-left-radius: 20px;
    border-top-right-radius:20px; */
    border-radius: 50%;
}

div{
    color: rgb(1, 1, 12);
    background-color: rgb(18, 182, 59);
}


/* Margin Property 
means that the space between the different boxes no matter
its top bottom left right  */

div{
    margin-bottom: 40px;
}
/* revision complete  */